@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  background-color: #f7f7f7;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  background-color: #fff;
  width: 450px;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

/* Signup CSS */

.form {
  padding: 25px 30px;
}

.form header {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.form form {
  margin: 20px 0;
}

.form form .error-txt {
  color: #721c24;
  background-color: #f8d7da;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
}

.form form .name-details {
  display: flex;
}

.form form .field:first-child {
  margin-right: 10px;
}

.form form .field:last-child {
  margin-left: 10px;
}

.form form .field {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

.form form .input input {
  outline: none;
}

.form form .input input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #ccc;
}

.form form .image input {
  font-size: 17px;
}

.form form .button input {
  margin-top: 13px;
  height: 45px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  background: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.form .link {
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
}

.form .link a {
  color: #333;
}

.form .link a:hover {
  text-decoration: underline;
}

/* Sign in CSS */
.form form .field span {
  position: absolute;
  right: 15px;
  top: 70%;
  color: #ccc;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Users list CSS */

.users {
  padding: 25px 30px;
}

.users header,
.users a {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.wrapper img {
  object-fit: cover;
  border-radius: 50%;
}

:is(.users, .users-list) .content {
  display: flex;
}

.users header .content img {
  height: 50px;
  width: 50px;
}

:is(.users, .users-list) .details {
  color: #000;
  margin-left: 15px;
}

:is(.users, .users-list) span {
  font-size: 18px;
  font-weight: 500;
}

.users header .logout {
  color: #fff;
  font-size: 17px;
  padding: 7px 15px;
  background: #333;
  border-radius: 5px;
}
.users .search {
  display: flex;
  position: relative;
  margin: 20px 0;
  align-items: center;
  justify-content: space-between;
}

.users .search .text {
  font-size: 18px;
}

.users .search input {
  position: absolute;
  height: 42px;
  width: calc(100% - 50px);
  border: 1px solid #ccc;
  padding: 0 13px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
}

.users .search button {
  width: 47px;
  height: 42px;
  border: none;
  outline: none;
  color: #fff;
  background: #333;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.users-list {
  max-height: 350px;
  overflow-y: auto;
}

:is(.users-list, .chat-box)::-webkit-scrollbar {
  width: 0px;
}

.users-list a {
  padding-right: 15px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: #f1f1f1;
}

.user-list a:last-child {
  margin-bottom: 0;
  border: none;
}

.users-list a .content img {
  height: 40px;
  width: 40px;
}

.users-list a .content p {
  color: #67676a;
}

.users-list a .status-dot {
  font-style: 12px;
  color: #468669;
}
.users-list a .status-dot.offline {
  font-style: 12px;
  color: #ccc;
}

/* Chat Area */
.chat-area header {
  display: flex;
  align-items: center;
  padding: 18px 30px;
}

.chat-area header .back-icon {
  font-size: 18px;
  color: #333;
}

.chat-area header img {
  width: 45px;
  height: 45px;
  margin: 0 15px;
}

.chat-area .typing-area {
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
}

.chat-area .typing-area input {
  height: 45px;
  width: calc(100% - 58px);
  font-size: 17px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: 0;
}

.chat-area .typing-area button {
  height: 45px;
  width: 55px;
  color: #fff;
  background-color: #333;
  border: none;
  outline: none;
  font-size: 19px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.chat-area header span {
  font-size: 17px;
  font-weight: 500;
}

.chat-box {
  height: 500px;
  background: #f7f7f7;
  overflow-y: auto;
  padding: 10px 30px 20px 30px;
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 /5%),
    inset 0 -32px 32px -32px rgb(0 0 0 /5%);
}

.chat-box .chat {
  margin: 15px 0;
}

.chat-box .chat p {
  padding: 8px 16px;
  word-wrap: break-word;
  box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0 16px 16px -16px rgb(0 0 0 /10%);
}

.chat-box .outgoing {
  display: flex;
}

.outgoing .details {
  margin-left: auto;
  max-width: calc(100% - 130px);
}

.outgoing .details p {
  background: #333;
  color: #fff;
  border-radius: 18px 18px 0 18px;
}

.chat-box .incoming {
  display: flex;
  align-items: flex-end;
}

.chat-box .incoming img {
  height: 35px;
  width: 35px;
}

.incoming .details {
  margin-left: 10px;
  margin-right: auto;
  max-width: calc(100% - 130px);
}

.incoming .details p {
  color: #333;
  background-color: #fff;
  border-radius: 18px 18px 18px 0;
}
